name: Deploy to AWS EC2 via CodeDeploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Create CodeDeploy deployment
        run: |
          aws deploy create-deployment \
            --application-name AMBER-CRM \
            --deployment-group-name AMBER-CRM-DEPLOYGROUP \
            --github-location repository=${{ github.repository }},commitId=${{ github.sha }}

